[sendemail]
	from = tinoy thomas <yo@t69.dev>
	smtpServer = smtp.protonmail.ch
	smtpServerPort = 587
	smtpEncryption = tls
	smtpUser = yo@t69.dev
[user]
	email = yo@t69.dev
	name = tinoy thomas
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
